<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.amlogic.HdmiSwitch"
      android:versionCode="1"
      android:versionName="1.6">
    <uses-permission android:name="android.permission.WAKE_LOCK" />  
    <application android:icon="@drawable/hdmi_icon" android:label="@string/app_name">
        <activity android:name=".HdmiSwitch"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />                
            </intent-filter>
        </activity>
		<receiver android:name=".HdmiBroadcastReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<action android:name="com.amlogic.HdmiSwitch.FAST_SWITCH"/>
				<action android:name="com.amlogic.HdmiSwitch.FREESCALE_BEFORE_VIDEO"/>
				<action android:name="com.amlogic.HdmiSwitch.FREESCALE_AFTER_VIDEO"/>
			</intent-filter>
		</receiver>
		<service android:name=".HdmiCheckService" />
    </application>
    <uses-sdk android:minSdkVersion="8" />

</manifest> 